@tailwind base;
@tailwind components;
@tailwind utilities;

code,
.cm-s-material.CodeMirror,
.font-mono {
  font-family: "MonoLisa", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-variant-ligatures: none;
}

.cm-s-material.CodeMirror pre.CodeMirror-line,
.cm-s-material.CodeMirror pre.CodeMirror-line-like {
  font-variant-ligatures: none;
}

.cm-s-material.CodeMirror {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

.cm-s-material.CodeMirror .CodeMirror-scroll {
  overflow: hidden !important;
}

.cm-s-material.CodeMirror .CodeMirror-lines {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cm-s-material.CodeMirror {
  height: auto;
  min-height: 300px;
}

.react-resizable {
  height: auto !important;
}

.react-resizable-handle {
  opacity: 0;
}

.react-resizable-handle:hover {
  opacity: 1;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}
